@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.trans{
    width: 100%;
    height: 100%;
}

.extra{
    height: 12%;
    margin: 0;
    background-color: #fe4701;
    display: none;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    transform: translate(0, -100px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 50px;
    width: 150px;
    top: -25px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px 0 #fe4701;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.login_btn {
    width: 100%;
    background: #fe4701 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #fe4701 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #fe4701 !important;
}


.input_user{
    z-index: 100;
}

@media only screen and (max-width:650px){
    .extra{
        display: block;
        margin: 0;
    }
    svg{
        margin:0;
        transform: translate(0, -5px);

    }
    .user_card{
    transform: translate(0, 0px);

    }
}